<section class="about">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'chi-1'%></h1>
</div>
<div class="top-container">
 <p align="justify"><%= I18n.t 'chi-2'%><span style="font-weight: bold"> <%= I18n.t 'chi-3'%></span> <%= I18n.t 'chi-4'%></p>
        <p align="justify"><span style="font-weight: bold"><%= I18n.t 'chi-5'%></span> <%= I18n.t 'chi-6'%></p>
        <p align="justify"><span style="font-weight: bold"><%= I18n.t 'chi-7'%></span> <%= I18n.t 'chi-8'%> </p>
        <p align="justify"><%= I18n.t 'chi-9'%><span style="font-weight: bold"> <%= I18n.t 'chi-10'%></span><%= I18n.t 'chi-11'%> <strong><%= I18n.t 'chi-12'%></strong> <%= I18n.t 'chi-13'%></p>
        <p align="justify"><u><%= I18n.t 'chi-14'%></u></p>
  
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'chi-15'%><strong><%= I18n.t 'chi-16'%></strong><strong> <%= I18n.t 'chi-17'%></strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'chi-18'%><strong><%= I18n.t 'chi-19'%></strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'chi-20'%><strong><%= I18n.t 'chi-21'%></strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'chi-22'%><strong><%= I18n.t 'chi-23'%></strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'chi-24'%><strong><%= I18n.t 'chi-25'%></strong></span><br />
<strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'chi-26'%><strong><%= I18n.t 'chi-27'%></strong></span><br />
   

        <p align="justify"><%= I18n.t 'chi-28'%></p>
              <p align="justify"> <%= I18n.t 'chi-29'%></p>
              </div>
</section>