<section class="consuldir">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'consul-1'%></h1>
</div>
<div class="top-container">
<p><%= I18n.t 'consul-2'%><br />
              <%= I18n.t 'consul-3'%><br />
            <%= I18n.t 'consul-4'%></p>
            <p><%= I18n.t 'consul-5'%><br />
              <%= I18n.t 'consul-6'%><br />
              <%= I18n.t 'consul-7'%><br />
              <%= I18n.t 'consul-8'%><br />
              <%= I18n.t 'consul-9'%><br />
              <%= I18n.t 'consul-10'%><br />
              <%= I18n.t 'consul-11'%><br />
              <%= I18n.t 'consul-12'%><br />
              <%= I18n.t 'consul-13'%><br />
              <%= I18n.t 'consul-14'%><br />
              <%= I18n.t 'consul-15'%></p>
            <p><%= I18n.t 'consul-16'%><br />
              <%= I18n.t 'consul-17'%><br />
              <%= I18n.t 'consul-18'%><br />
              <%= I18n.t 'consul-19'%><br />
              <%= I18n.t 'consul-20'%></p>
</div>
</section>