<section class="contact">
  <div class="container">
    <div class="top-header">
      <h1><%= I18n.t 'contatti-1'%></h1>
    </div>
    <div class="row">
      <div id="map-outer" class="col-md-12 contact-info">
          <div id="address" class="col-md-6">
            <address>
            <strong>M&C Partners S.r.l.</strong><br>
                Via Borghetto, 3<br>
                20122 Milano<br>
                <%= I18n.t 'contatti-2'%><br>
                <br/>
                <strong><%= I18n.t 'contatti-3'%></strong> +39 02 4547 4900<br/>
                <strong>Fax:</strong> +39 02 99986746
           </address>
          </div>
          <div id="map-canvas-left" class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.8456930488537!2d9.202340215498207!3d45.47291224088319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c6bed1d19fbd%3A0xd30ad8f25c12baa6!2sVia+Borghetto%2C+3%2C+20122+Milano+MI!5e0!3m2!1sit!2sit!4v1515929107998" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div id="address" class="col-md-6">
            <address style="margin-top:20px;">
            <strong>M&C Partners LDA</strong><br>
                Rua Dom Pedro V<br>
                1250-094 Lisboa<br>
                <%= I18n.t 'contatti-5'%><br>
                <br/>
                <strong><%= I18n.t 'contatti-3'%></strong> +351 218 000 599<br/>
           </address>
          </div>
          <div id="map-canvas-right" class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.0897110606834!2d-9.148424084686894!3d38.71574926523603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19337f7985ba11%3A0x19c0044f8d303119!2sR.+Dom+Pedro+V%2C+1250-096+Lisboa%2C+Portogallo!5e0!3m2!1sit!2sit!4v1515929179918" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        </div><!-- /map-outer -->
      </div> <!-- /row -->

      <div class="row">
        <div id="map-outer" class="col-md-10 col-md-offset-1 contact-info">
          <%= simple_form_for @contact, :html=> { class: "form-horizontal" }, :url => contact_path, :method => :post do |f| %>
            <div class="form-group">
                <div class="col-md-12 input-group">
                  <%=  f.input_field :first_name, class: "form-control", label: false, :required => true, placeholder: "Name" %>
                </div><br/>
                <div class="col-md-12 input-group">
                  <%=  f.input_field :last_name, class: "form-control", label: false, :required => true, placeholder: "Last Name" %>
                </div><br/>
                <div class="col-md-12 input-group">
                <span class="input-group-addon">@</span>
                    <%=  f.input_field :email, class: "form-control", label: false, :required => true, :as => :email, placeholder: "Email Address" %>
                </div><br/>
                <div class="col-md-12 input-group">
                  <span class="input-group-addon">#</span>
                  <%=  f.input_field :telephone, class: "form-control", :as => :tel, label: false,placeholder: "Telephone" %>
                </div><br/>
                <div class="col-md-12">
                  <%=  f.input_field :message, class: "form-control", rows: "6", label: false, :as => :text, :required => true, placeholder: "Your question or comment here" %>
                </div><br/>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <%=  f.button :submit, t("contatti-4"), :class=> "btn btn-warning pull-right"%>
                </div>
              </div>
            <% end %>
          </div>
      </div> <!-- /row -->
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>
