<script>
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });
    </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<section class="carousel">
<div class="container">
  <%= vider_tag 'assets/milano', position: '100% 100%', width: '100%', height: '400px', volume: '0' %><div class="caption"><%= I18n.t 'home-title'%> </font><br/> <span class="caption-title"><%= I18n.t 'home-title-2'%><br/><%= I18n.t 'home-title-3-1'%><br/><%= I18n.t 'home-title-3-1'%></span></div>
  </div> <!-- /.container -->
</section>
<!--<section class="carousel">
<div id="owl-demo" class="owl-carousel owl-theme">
  <div class="item"><a href=""><img src="assets/fullimage1.jpg" alt="The Last of us"><span class="caption">A test caption</span></a></div>
  <div class="item"><img src="assets/fullimage2.jpg" alt="GTA V"></div>
  <div class="item"><img src="assets/fullimage3.jpg" alt="Mirror Edge"></div>
</div>
</section>-->

<section class="payoff">
  <div class="container">
    <div class="col-md-12 center-heading">
      <h2><%= I18n.t 'home-sub-1'%></h2>
      <span class="center-line"></span>
      <p><%= I18n.t 'home-sub-2'%></p>
    </div>
  </div> <!-- /.container -->
</section>

<section class="trittico">
  <div class="container">
    <div class="row"> <!-- Three columns of text below the carousel -->
      <div class="col-lg-4">
        <img src="assets/competent.svg" alt="Competenza" width="100" height="100">
        <h2><%= I18n.t 'home-tr-1'%></h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets/professional.svg" alt="Professionalit&agrave;" width="100" height="100">
        <h2><%= I18n.t 'home-tr-2'%></h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets/dedicated.svg" alt="Dedizione" width="100" height="100">
        <h2><%= I18n.t 'home-tr-3'%></h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div> <!-- /.container -->
</section>

<section class="quote" id="intro" data-speed="6" data-type="background">
    <div class="container">
       <div class="col-md-12 center-heading">
      <h2><%= I18n.t 'home-sub-3'%></h2>
      <span class="center-line"></span>
      <p><%= I18n.t 'home-sub-4'%></p>
    </div>
    </div>
</section>

<section class="fun-facts">
  <div class="container">
    <div class="row">
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">87</span></h3>
        <h4><%= I18n.t 'home-qt-1'%></h4>
      </div><!--facts in-->
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">126</span></h3>
        <h4><%= I18n.t 'home-qt-2'%></h4>
      </div><!--facts in-->
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">349</span></h3>
        <h4><%= I18n.t 'home-qt-3'%></h4>
      </div><!--facts in-->
      <div class="col-md-3 margin20 facts-in">
        <h3><span class="counter">86.413</span></h3>
        <h4><%= I18n.t 'home-qt-4'%></h4>
      </div><!--facts in-->
    </div>
  </div> <!-- /.container -->
</section>

<section class="whatwedo">
  <div class="container">
<hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= I18n.t 'home-cosa-1'%> <br/><span class="text-muted subtitle"><%= I18n.t 'home-cosa-2'%></span></h2>
          <p class="lead"><%= I18n.t 'home-cosa-3'%></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="assets/mea.png" alt="M&A">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><%= I18n.t 'home-cosa-4'%> <br/><span class="text-muted subtitle"><%= I18n.t 'home-cosa-5'%></span></h2>
          <p class="lead"><%= I18n.t 'home-cosa-6'%></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="assets/turnaround.png" style="margin-top:4%;" alt="Turnaround">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= I18n.t 'home-cosa-7'%> <br/><span class="text-muted subtitle"><%= I18n.t 'home-cosa-8'%></span></h2>
          <p class="lead"><%= I18n.t 'home-cosa-9-1'%><br/>
          <%= I18n.t 'home-cosa-9-2'%></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="assets/consulenza.png" style="margin-top:4%;" alt="Management Consulting">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><%= I18n.t 'home-cosa-10'%> <br/><span class="text-muted subtitle"><%= I18n.t 'home-cosa-11'%></span></h2>
          <p class="lead"><%= I18n.t 'home-cosa-12'%></p><br/>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="assets/temporary.png" alt="Temporary Management">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= I18n.t 'home-cosa-13'%> <br/><span class="text-muted subtitle"><%= I18n.t 'home-cosa-14'%></span></h2>
          <p class="lead"><%= I18n.t 'home-cosa-15'%>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="assets/real-estate.jpg" style="margin-top:4%;" alt="Real Estate">
        </div>
      </div>
      <hr class="featurette-divider">
      </div> <!-- /.container -->
</section>

<section class="testimonial" id="home" data-speed="4" data-type="background">
 <div class="container">
       <div class="col-md-12 center-heading">
       <h2><%= I18n.t 'home-sub-5'%></h2>
      <span class="center-line"></span>
      <p><%= I18n.t 'home-sub-6'%><br/>
      <%= I18n.t 'home-sub-7'%></p>
    </div>
    </div>
</section>



<!--<script>
    $('.owl-carousel').owlCarousel({
        items:1,
        merge:true,
        loop:true,
        margin:0,
        video:true,
        lazyLoad:true,
        center:true,
        responsive:{
            480:{
                items:2
            },
            600:{
                items:4
            }
        }
    })
</script>-->

<!--<script>$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      autoPlay:true,
      stopOnHover:true,
      pagination:false

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

  });

});</script>-->

<!-- Parallax function -->
<script>
$(document).ready(function(){
   // cache the window object
   $window = $(window);

   $('section[data-type="background"]').each(function(){
     // declare the variable to affect the defined data-type
     var $scroll = $(this);

      $(window).scroll(function() {
        // HTML5 proves useful for helping with creating JS functions!
        // also, negative value because we're scrolling upwards
        var yPos = -($window.scrollTop() / $scroll.data('speed'));

        // background position
        var coords = '50% '+ yPos + 'px';

        // move the background
        $scroll.css({ backgroundPosition: coords });
      }); // end window scroll
   });  // end section function
}); // close out script
</script>
