<section class="manda">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'm-a-1'%></h1>
</div>
<div class="top-container">
<p><%= I18n.t 'm-a-2'%><br />
            <%= I18n.t 'm-a-3'%></p>
            <p><%= I18n.t 'm-a-4'%></p>
            <p><%= I18n.t 'm-a-5'%></p>
            <p><%= I18n.t 'm-a-6'%></p>
            <p><%= I18n.t 'm-a-7'%></p>
            <p><%= I18n.t 'm-a-8'%></p>
        <p><%= I18n.t 'm-a-9'%></p>
            <p><%= I18n.t 'm-a-10'%><br />
              <%= I18n.t 'm-a-11'%><br />
              <%= I18n.t 'm-a-12'%><br />
              <%= I18n.t 'm-a-13'%><br />
              <%= I18n.t 'm-a-14'%><br />
              <%= I18n.t 'm-a-15'%><br />
              <%= I18n.t 'm-a-16'%><br />
              <%= I18n.t 'm-a-17'%><br />
              <%= I18n.t 'm-a-18'%><br />
              <%= I18n.t 'm-a-19'%><br />
              <%= I18n.t 'm-a-20'%></p>
              </div>
</section>

