<section class="mission">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'mission-1'%></h1>
</div>
<div class="top-container">
<p><%= I18n.t 'mission-2'%></p>

<p><%= I18n.t 'mission-3'%></p>

<p><%= I18n.t 'mission-4'%> <b><%= I18n.t 'mission-5'%></b> <%= I18n.t 'mission-6'%></p>

<p><%= I18n.t 'mission-7'%><b><%= I18n.t 'mission-8'%></b> <%= I18n.t 'mission-9'%></p>

<p><%= I18n.t 'mission-10'%></p>

<p><%= I18n.t 'mission-11'%><b><%= I18n.t 'mission-12'%></b> <%= I18n.t 'mission-13'%></p>

<p><%= I18n.t 'mission-14'%><b><%= I18n.t 'mission-15'%></b> <%= I18n.t 'mission-16'%></p>

<p><%= I18n.t 'mission-17'%></p>

<P><%= I18n.t 'mission-18'%></p>
</div>
</section>