<section class="privacy">
<div class="container">
<div class="top-header">
  <h1>Privacy Policy</h1>
</div>
<div class="top-container">
<p>
            <strong><%= I18n.t 'privacy-1'%>M&C Partners S.r.l.</strong></span> </p>
            <p align="justify"><%= I18n.t 'privacy-0'%><br /><br />
              <%= I18n.t 'privacy-1'%></p>
            <div align="justify">
            <ul>
              <li><%= I18n.t 'privacy-2'%>
                <ol type="a">
                  <li><%= I18n.t 'privacy-3'%> <br />
                  <li><%= I18n.t 'privacy-4'%> <br />
                  <li><%= I18n.t 'privacy-5'%> <br />
                  <li><%= I18n.t 'privacy-6'%> <br />
                  <li><%= I18n.t 'privacy-7'%> <br />
                </ol>
              <br />
              <li><%= I18n.t 'privacy-8'%> <br />
              <li><%= I18n.t 'privacy-9'%> <br />
              <li><%= I18n.t 'privacy-10'%> <br />
              <li><%= I18n.t 'privacy-11'%> <br />
            
            <b>M&C Partners S.r.l.  srl.<br />
              <%= I18n.t 'privacy-12'%> <br />
              Via Borghetto, 3 <br />
              Milano   20122<br />
              - <%= I18n.t 'privacy-13'%></b>
            </li>
              <li><%= I18n.t 'privacy-14'%> <br />
              <li><%= I18n.t 'privacy-15'%> <br />
              <li><%= I18n.t 'privacy-16'%> <br />
            </ul>
            <%= I18n.t 'privacy-17'%><br />
            <br />
<%= I18n.t 'privacy-18'%>
<ol>
  <li><%= I18n.t 'privacy-19'%> <br />
  <li><%= I18n.t 'privacy-20'%>
    <ol type="a">
      <li><%= I18n.t 'privacy-21'%> <br />
      <li><%= I18n.t 'privacy-22'%> <br />
      <li><%= I18n.t 'privacy-23'%> <br />
      <li><%= I18n.t 'privacy-24'%> <br />
      <li><%= I18n.t 'privacy-25'%> <br />
    </ol>
  <br />
  <li><%= I18n.t 'privacy-26'%>
    <ol type="a">
      <li><%= I18n.t 'privacy-27'%> <br />
      <li><%= I18n.t 'privacy-28'%> <br />
      <li><%= I18n.t 'privacy-29'%> <br />
    </ol>
  <br />
  <li><%= I18n.t 'privacy-30'%>
    <ol type="a">
      <li><%= I18n.t 'privacy-31'%> <br />
      <li><%= I18n.t 'privacy-32'%><br />
    </ol>
  <br />
</ol>
</div>
</section>