<section class="temporary">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'real-estate-1'%></h1>
</div>
<div class="top-container">
  <p>
    <%= I18n.t 'real-estate-2'%><br/>
<br/>
<%= I18n.t 'real-estate-3'%><br/>
<br/>
<br/>
<br/>
<strong><%= I18n.t 'real-estate-4'%></strong><br/>
<br/>
<%= I18n.t 'real-estate-5'%><br/>
<br/>
<%= I18n.t 'real-estate-6'%><br/>
<br/>
<%= I18n.t 'real-estate-7'%><br/>
<br/>
<br/>
<br/>
<strong><%= I18n.t 'real-estate-8'%></strong><br/>
<br/>
<%= I18n.t 'real-estate-9'%><br/>
<br/>
<ul>
	<li><%= I18n.t 'real-estate-10'%><strong><%= I18n.t 'real-estate-11'%></strong><%= I18n.t 'real-estate-12'%><strong><%= I18n.t 'real-estate-13'%></strong><%= I18n.t 'real-estate-14'%><strong><%= I18n.t 'real-estate-15'%></strong><%= I18n.t 'real-estate-16'%></li>
	<li><%= I18n.t 'real-estate-18'%><strong><%= I18n.t 'real-estate-19'%></strong><%= I18n.t 'real-estate-20'%><strong><%= I18n.t 'real-estate-21'%></strong><%= I18n.t 'real-estate-22'%></li>
	<li><%= I18n.t 'real-estate-23'%></li>
	<li><%= I18n.t 'real-estate-24'%><strong><%= I18n.t 'real-estate-25'%></strong><%= I18n.t 'real-estate-26'%><strong><%= I18n.t 'real-estate-27'%></strong><%= I18n.t 'real-estate-28'%><strong><%= I18n.t 'real-estate-29'%></strong><%= I18n.t 'real-estate-30'%><strong><%= I18n.t 'real-estate-31'%></strong><%= I18n.t 'real-estate-32'%></li>
</ul>
<br/>
<br/>
<strong><%= I18n.t 'real-estate-33'%></strong><br/>
<br/>
<%= I18n.t 'real-estate-34'%><br/>
<strong><%= I18n.t 'real-estate-35'%></strong><br/>
<br/>
<strong><%= I18n.t 'real-estate-36'%></strong><%= I18n.t 'real-estate-37'%><strong><%= I18n.t 'real-estate-38'%></strong><%= I18n.t 'real-estate-39'%><strong><%= I18n.t 'real-estate-40'%></strong>.<br/>
  </p>
</div>
</section>
