<section class="temporary">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'temporary-1'%></h1>
</div>
<div class="top-container">
<p><%= I18n.t 'temporary-2'%><strong><%= I18n.t 'temporary-3'%> </strong><br />
<br/>
              <%= I18n.t 'temporary-4'%><br />
              <br/>
              <%= I18n.t 'temporary-5'%><strong><%= I18n.t 'temporary-6'%> </strong><%= I18n.t 'temporary-7'%><br />
              <%= I18n.t 'temporary-8'%><strong><%= I18n.t 'temporary-9'%></strong><%= I18n.t 'temporary-10'%><br />
            <br/>
            <%= I18n.t 'temporary-11'%></p>
            <p><%= I18n.t 'temporary-12'%><br />
              <%= I18n.t 'temporary-13'%><br />
              <%= I18n.t 'temporary-14'%><br />
              <%= I18n.t 'temporary-15'%><br />
              <%= I18n.t 'temporary-16'%><br />
              <%= I18n.t 'temporary-17'%></p>
              </div>
</section>