 <section class="turnaroud">
<div class="container">
<div class="top-header">
  <h1><%= I18n.t 'turnaround-1'%></h1>
</div> 
<div class="top-container">
<p><%= I18n.t 'turnaround-2'%><br><br/>
            <%= I18n.t 'turnaround-3'%><strong><%= I18n.t 'turnaround-4'%></strong><%= I18n.t 'turnaround-5'%><strong><%= I18n.t 'turnaround-6'%></strong> <%= I18n.t 'turnaround-7'%><strong><%= I18n.t 'turnaround-8'%></strong><%= I18n.t 'turnaround-9'%><br><%= I18n.t 'turnaround-10'%>
            <br>
            <br/>
  <u><i><%= I18n.t 'turnaround-11'%>:</u></i></p>
    <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'turnaround-12'%></span><br />
    <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'turnaround-13'%></span><br />
    <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'turnaround-14'%></span><br />
    <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'turnaround-15'%> </span><br />
    <strong style="color:#15375C; font-size:14px;">&bull;&nbsp;</strong><span style="color:#000000"><%= I18n.t 'turnaround-16'%></span><br />
          </div>
</section>