<div class="container">
  <div class="header clearfix">
    <nav>
      <div class="container-fluid">
        <div class="navbar-header"> <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="menu-tgl">MENU</span>
          </button>
          <a href="/"><img class="navbar-brand" src="assets/logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-pills pull-right">
            <li><a href="/"><%= I18n.t 'head-home'%></a></li>
            <li><a href="about"><%= I18n.t 'head-about'%></a></li>
            <li><a href="mission"><%= I18n.t 'head-mission'%></a></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false" href="#" role="button" aria-expanded="false">
                <%= I18n.t 'head-cosa'%> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
               <li><a href="m-and-a"><%= I18n.t 'head-cosa-1'%></a>
               <li><a href="turnaround"><%= I18n.t 'head-cosa-2'%></a>
               <li><a href="consulenza-direzionale"><%= I18n.t 'head-cosa-3'%></a>
               <li><a href="temporary-management"><%= I18n.t 'head-cosa-4'%></a> 
              </ul>
            </li>
            <li><a href="contact"><%= I18n.t 'head-contatti'%></a></li>
          </ul>
           <!--<ul class="language-menu pull-right" role="menu">
            <li>
              <%= link_to 'IT', change_locale_path(:it) %>
            </li> - 
            <li>
              <%= link_to 'EN', change_locale_path(:en) %>
            </li>
          </ul>-->
        </div>
      </div>
    </nav>
  </div>



 