<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>M&C Partners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Fatevobis" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4208477-34', 'auto');
  ga('send', 'pageview');

</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>  
    <style type="text/css">
        .gradient {filter: none !important;}
    </style>
    <![endif]-->
  </head>
  <body>
		<%= render 'layouts/header' %>
		<%= yield %>
    <%= render 'layouts/footer' %>

    <script type="text/javascript">
    $(document).ready(function() {  
      $.cookiesDirective({
          explicitConsent: false, // false allows implied consent
          position: 'bottom', // top or bottom of viewport
          duration: 10, // display time in seconds
          limit: 1, // limit disclosure appearances, 0 is forever     
          message: null, // customise the disclosure message              
          cookieScripts: null, // disclose cookie settings scripts
          privacyPolicyUri: 'privacy',   // uri of your privacy policy
          scriptWrapper: function(){}, // wrapper function for cookie setting scripts
          fontFamily: 'helvetica', // font style for disclosure panel
          fontColor: '#FFFFFF', // font color for disclosure panel
          fontSize: '13px', // font size for disclosure panel
          backgroundColor: '#000000', // background color of disclosure panel
          backgroundOpacity: '80', // opacity of disclosure panel
          linkColor: '#CA0000' // link color in disclosure panel
      });
    });
</script>
	</body>
</html>